In [1]:
import pandas as pd
import numpy as np
import sys, os 
import csv
import glob
from datetime import datetime

In [2]:
#we'll use glob to access the files, create a path to the csv's
path ="data/*.csv"
csv_list = glob.glob(path)

In [3]:
#we'll use glob to access the files, create a path to the csv's
path ="data/*.csv"
csv_list = glob.glob(path)

In [8]:
#use some loops to go through each csv file, write each line into a single open csv file
with open('citi_ride.csv', 'a') as singleFile:
    for csvFile in glob.glob("data/*.csv"):
        for line in open(csvFile, 'r'):
            singleFile.write(line)

In [9]:
#lets just take a quick look at it. 
df = pd.read_csv('citi_ride.csv')

/Users/ellenchen/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (0,3,5,6,7,9,10,11,13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df.head(10)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,680,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.7828,-73.9714,3165,Central Park West & W 72 St,40.7758,-73.9762,25542,Subscriber,1965,2
1,1282,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.7292,-73.9909,498,Broadway & W 32 St,40.7485,-73.9881,21136,Subscriber,1987,2
2,648,2017-01-01 00:00:57,2017-01-01 00:11:46,3143,5 Ave & E 78 St,40.7768,-73.9639,3152,3 Ave & E 71 St,40.7687,-73.9612,18147,Customer,NaN,0
3,631,2017-01-01 00:01:10,2017-01-01 00:11:42,3143,5 Ave & E 78 St,40.7768,-73.9639,3152,3 Ave & E 71 St,40.7687,-73.9612,21211,Customer,NaN,0
4,621,2017-01-01 00:01:25,2017-01-01 00:11:47,3143,5 Ave & E 78 St,40.7768,-73.9639,3152,3 Ave & E 71 St,40.7687,-73.9612,26819,Customer,NaN,0
5,666,2017-01-01 00:01:51,2017-01-01 00:12:57,3163,Central Park West & W 68 St,40.7734,-73.9778,3163,Central Park West & W 68 St,40.7734,-73.9778,16050,Subscriber,2000,1
6,559,2017-01-01 00:05:00,2017-01-01 00:14:20,499,Broadway & W 60 St,40.7692,-73.9819,479,9 Ave & W 45 St,40.7602,-73.9913,27294,Subscriber,1973,1
7,826,2017-01-01 00:05:37,2017-01-01 00:19:24,362,Broadway & W 37 St,40.7517,-73.9875,445,E 10 St & Avenue A,40.7274,-73.9814,23288,Subscriber,1977,2
8,255,2017-01-01 00:05:47,2017-01-01 00:10:02,430,York St & Jay St,40.7015,-73.9866,242,Carlton Ave & Flushing Ave,40.6978,-73.9737,25041,Subscriber,1989,1
9,634,2017-01-01 00:07:34,2017-01-01 00:18:08,3165,Central Park West & W 72 St,40.7758,-73.9762,3164,Columbus Ave & W 72 St,40.7771,-73.979,16311,Subscriber,1980,1

In [11]:
df.tail(10)

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
6816249,907,2017-06-30 23:59:15,2017-07-01 00:14:22,2021,W 45 St & 8 Ave,40.7593,-73.9886,3258,W 27 St & 10 Ave,40.7502,-74.0022,15442,Customer,1983,1
6816250,888,2017-06-30 23:59:23,2017-07-01 00:14:12,417,Barclay St & Church St,40.7129,-74.0102,363,West Thames St,40.7083,-74.0171,17882,Subscriber,1979,2
6816251,333,2017-06-30 23:59:24,2017-07-01 00:04:58,3042,Fulton St & Utica Ave,40.6794,-73.9299,3052,Lewis Ave & Madison St,40.6863,-73.9358,25573,Subscriber,1979,1
6816252,329,2017-06-30 23:59:26,2017-07-01 00:04:56,539,Metropolitan Ave & Bedford Ave,40.7153,-73.9602,3091,Frost St & Meeker St,40.7176,-73.9488,26720,Subscriber,1991,2
6816253,681,2017-06-30 23:59:28,2017-07-01 00:10:50,326,E 11 St & 1 Ave,40.7295,-73.9843,509,9 Ave & W 22 St,40.7455,-74.002,19548,Subscriber,1978,1
6816254,394,2017-06-30 23:59:30,2017-07-01 00:06:05,539,Metropolitan Ave & Bedford Ave,40.7153,-73.9602,3107,Bedford Ave & Nassau Ave,40.7231,-73.9521,28065,Subscriber,1986,2
6816255,1171,2017-06-30 23:59:40,2017-07-01 00:19:12,195,Liberty St & Broadway,40.7091,-74.0104,438,St Marks Pl & 1 Ave,40.7278,-73.9856,25079,Subscriber,1986,1
6816256,1272,2017-06-30 23:59:47,2017-07-01 00:20:59,477,W 41 St & 8 Ave,40.7564,-73.99,3314,W 95 St & Broadway,40.7938,-73.9719,25606,Subscriber,1982,1
6816257,918,2017-06-30 23:59:45,2017-07-01 00:15:03,328,Watts St & Greenwich St,40.7241,-74.0097,146,Hudson St & Reade St,40.7163,-74.0091,19739,Subscriber,1998,1
6816258,1398,2017-06-30 23:59:53,2017-07-01 00:23:12,3244,University Pl & E 8 St,40.7314,-73.9949,3002,South End Ave & Liberty St,40.7115,-74.0158,15694,Subscriber,1987,2